.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 93px 0 95px;
}

.header__links-list {
  list-style: circle outside;
  display: flex;
  flex-flow: row nowrap;
  align-items: end;
  gap: 31px;
  padding-left: 51px;
}

.header__links-list:first-child {
  list-style-type: none;
}

li::marker {
  font-size: 1.3em;
}

.header__link {
  font-size: 18px;
  text-underline-offset: 4px;
  line-height: 22px;
  letter-spacing: 0.01em;
}

.header__links-list-item .header__link_active {
  text-decoration: none;
  pointer-events: none;
}

.header__logo {
  border: #000 6px;
  width: 135px;
  height: 105px;
}

.address {
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
}

.header__address {
  justify-self: end;
  padding-right: 86px;
}

.phone {
  text-underline-offset: 4px;
}

.email {
  text-underline-offset: 4px;
}

.cover {
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  position: relative;
  text-transform: uppercase;
}

.cover__title {
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 0.3em;
  padding: 165px 50px 135px;
  line-height: 1.15;
  position: relative;
  z-index: 1;
}

.aligned-text {
  display: block;
  line-height: 1;
  padding-top: 20px;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: end;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  padding: 0 50px 51px 78px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
}

.cover__description-text {
  font-weight: 400;
  font-size: 22px;
  word-spacing: 19px;
}

.bet-button {
  border: 1px solid #fff;
  background: transparent;
  padding: 11px 30px 12px 32px;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: Raleway, sans-serif;
  color: #fff;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.6);
  position: absolute;
  inset: 0;
}

.lots {
  padding: 0 24px;
}

.lots__heading {
  padding: 179px 0 27px 40px;
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  gap: 25px;
}

.lots__card-list-item {
  flex-basis: 334px;
  min-height: 563px;
  flex-grow: 1;
}

.card-link {
  text-decoration: none;
  display: block;
  height: 100%;
}

.card {
  height: 100%;
  position: relative;
  padding: 51px 40px 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  text-decoration: underline;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
  z-index: 1;
}

.card__text {
  font-size: 20px;
  line-height: 24px;
  z-index: 1;
}

.lots__look-more-link {
  font-size: 20px;
  margin: 30px 0 146px 40px;
  display: inline-block;
  text-underline-offset: 5px;
  max-width: fit-content;
}

.about {
  padding: 36px 24px 182px 24px;
  display: grid;
  grid-template-columns: 334px 1fr;
  place-items: start center;
  gap: 25px;
}

.about__logo {
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__logo-image {
  height: 114px;
  width: 148px;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 100px 0;
}

.about__text {
  font-size: 20px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  max-width: 693px;
}

.footer {
  padding: 0 50px 88px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
}

.footer__menu {
  text-align: center;
}

.footer__menu-list {
  list-style-type: none;
}

.footer__menu-link {
  font-size: 18px;
  line-height: 21px;
  text-underline-offset: 4px;
}

.footer__menu-list-item .footer__menu-link_active {
  text-decoration: none;
  pointer-events: none;
}

.footer__social-list {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: end;
  gap: 48px;
}

.footer__social-link {
  text-decoration: none;
}

.footer__social-icon {
  height: 48px;
  width: 48px;
}
